body {
	background: #f3edd8;
	text-align: center;
}

.thumbnail {
	padding-top: 30px;
	padding-bottom: 10px;
	height: 200px;
}

.column{
	vertical-align: bottom;
}


.title {
    margin: 10px;
  	/*color: #545454;*/
    font-size: 1.1em;
}