<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="static/css/screen.css">

    <title>Unlimited Book @ Fahrenheit 451</title>
</head>
<body>
	<div class="container">
  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="tweleve columns"><h1>Unlimited Book </h1></div>
  </div>
  
  <div class="row">
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<a href="use.html"><input type="button" class="button-primary" value="Read"></a>
    </div>
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="Watch"></div>
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="Listen"></div>
  </div>

  <div class="row">
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="button input">
    </div>
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="button input"></div>
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="button input"></div>
  </div>


   <div class="row">
    <div class="one-third column">&nbsp;</div>
    <div class="one-third column">&nbsp;</div>
    <div class="one-third column"><a href="/about">About</a> | <a href="/help">How to use</a></div>
  </div>
</div>
</body>
</html>