{% extends "layout.html" %}
{% block title %}Unlimited Book @ Fahrenheit 451{% endblock %}
{% block header %}Unlimited Book @ Fahrenheit 451{% endblock %}
{% block content %}
  <div class="row">
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<a href="use.html"><input type="button" class="button-primary" value="Read"></a>
    </div>
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="Watch"></div>
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="Listen"></div>
  </div>

  <div class="row">
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="button input">
    </div>
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="button input"></div>
    <div class="one-third column">
    	<img class="thumbnail" src="static/img/8235360-M.jpg" /> <br>
    	<input type="button" class="button-primary" value="button input"></div>
  </div>


{% endblock %}