{% extends "layout.html" %}
{% block title %}Unlimited Book @ Fahrenheit 451{% endblock %}
{% block header %}Unlimited Book @ Fahrenheit 451{% endblock %}
{% block content %}

{% set loop_cycle = cycler('one', 'two', 'three') %}
{% for item in items %}
  {%  set loop_cycle_value = loop_cycle.next() %}
  {% if loop_cycle_value == "one"  %}
    <div class="row"> <!-- start row -->
  {% endif %}  
    <div class="one-third column">
    	<img class="thumbnail" src="static/content/thumbnail/{{item[3]}}" /> <br>
    	<a href="static/content/{{item[5]}}" target="_blank"><input type="button" class="button-primary" value="Read"></a>
    </div>
  {% if loop_cycle_value == "three" or loop.last %}
    </div> <!-- end row -->
  {% endif %}

{% endfor %}



{% endblock %}