<html>
<head>
	{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="static/css/skeleton.css">
	<link rel="stylesheet" type="text/css" href="static/css/screen.css">
	<title>{% block title %}{% endblock %} | Unlimited Book @ Fahrenheit 451</title>
    {% endblock %}
</head>
<body>
	<div class="container">
		<div class="row">
	    	<div class="tweleve columns"><h1>{% block header %}{% endblock %}</h1></div>
		 </div>
		
		{% block content %}{% endblock %}

		<div class="row">
		    <div class="one-third column">&nbsp;</div>
	    	<div class="one-third column">&nbsp;</div>
	    	<div class="one-third column"><a href="/about">About</a> | <a href="/help">How to use</a></div>
	  	</div>
	</div>
</body>
</html>